#about
{
    margin-top: 18rem;
    padding-top: 18rem;
    display: grid;
    align-items: center;
    height: 100vh;
}

#gallery
{
    margin-top: 12rem;
    padding-top: 10rem;
}

#exhibition
{
    margin-top: 10rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
    display: grid;
    align-items: center;
}