#about
{
    margin-top: 18rem;
    padding-top: 18rem;
}

#gallery
{
    margin-top: 12rem;
    padding-top: 10rem;
}

#exhibition
{
    margin-top: 10rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
}