:root
{
    --primary-color-hue: 210;
    --background-lightness: 15%;
    --navbar-lightness: 20%;
    --section-lightness: 25%;
    --font-lightness: 90%;

    --font-color: hsl(var(--primary-color-hue), 30%, var(--font-lightness));
    --background-color: hsl(var(--primary-color-hue), 10%, var(--background-lightness));
    --section-color: hsl(var(--primary-color-hue), 8%, var(--navbar-lightness));

    --contrast-color: hsl(0, 0%, 0%);

    --image-contrast: 1.5;

    --background-image: url('../assets/bg-texture.png');

    --font-weight: 300;

    --primary-color: hsl(var(--primary-color-hue), 100%, 50%);

    --gray-color-100: hsl(var(--primary-color-hue), 10%, 100%);
    --gray-color-450: hsl(var(--primary-color-hue), 10%, 50%);
    --gray-color-900: hsl(var(--primary-color-hue), 10%, 5%);
    
    --large-container-width: 88%;
    --small-container-width: 92%;

    --border-radius-1: 0.3rem;
    --border-radius-2: 0.6rem;
    --border-radius-3: 1.1rem;
    --border-radius-4: 1.4rem;
    --border-radius-5: 2rem;

    --transition: all 400ms ease;
}

::-webkit-scrollbar
{
    width: 0.5rem;
}

::-webkit-scrollbar-track
{
    background: transparent;
}

::-webkit-scrollbar-thumb
{
    background: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--font-color);
}